<!DOCTYPE HTMl>
<html>
<head>
	<meta charset="utf-8">
	<title>Spider man missing</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="{{static_url('css/dmaku.css')}}" type="text/css" media="all" />
</head>
<body style="background:url({{static_url('images/timg.jpg')}})fixed center center no-repeat;background-size: cover;width: 100%;">
<div class="wrap">	
	<div class="banner"><img src="{{static_url('images/fuel-404-logo.png')}} " alt="" /></div>
</div>

</body>
</html>    

